body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.comments {
  margin-top: 15%;
  position: relative;
}

.comments-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.comments-container {
  margin-top: 40px;
}

.comment-form-title {
  font-size: 22px;
}

.comment {
  /* display: flex; */
  margin-bottom: 28px;
}

.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  height: 20px;
  border-radius: 50px;
}

.comment-right-part {
  width: 100%;
}

.comment-author {
  margin-right: 8px;
  font-size: 15px;
  color: rgb(59, 130, 246);
}

.comment-text {
  font-size: 12px;
}

.comment-actions {
  display: flex;
  font-size: 11px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  margin-top: 8px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
  margin-left: 50px;
}

.link{
  color: inherit;
  text-decoration: inherit;
}
